The first step in to download an already created .csv file into dataframe using pandas

In [1]:
import pandas as pd
df = pd.read_csv('postal_codes.csv', index_col='Unnamed: 0')
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

Because there is something wrong with the Geocoder package, it is decided to use the dataset provided by Coursera.

In [3]:
coord=pd.read_csv('https://cocl.us/Geospatial_data')
coord.columns=['Postcode','Latitude','Longitude'] #rename columns
coord.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

Merge df and coord dataframes based on the __"Postcode"__ column.

In [4]:
pc=pd.merge(df, coord, on='Postcode', how='outer')
pc.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [5]:
pc.to_csv('coordinates.csv',header=1,index=False) #save dataframe for next tasks