First, it is decided to import or install all libraries which will be used for this part of assignment. 
The code in the cell below is used to retrieve all packages.

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import requests

print('Libraries imported.')

Libraries imported.

Next, Wikipedia data from page __https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M__ is retrived using the _requests_ package.

In [2]:
wiki=requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text

In the next step, it is decided to use pandas' __read_html__ function to create a dataframe for Toronto post codes from the Wiki page.
It was decided not to use BeautifulSoup package, as pandas offers simpler and more elegant solution:

In [3]:
df=pd.read_html(wiki)[0]
df.to_csv('postal_codes.csv',header=1,index=True)
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [4]:
df.columns=['Postcode','Borough','Neighbourhood'] #rename columns
df.drop(df.index[0], inplace=True) #drop the first row with headings
df.head(5)

  Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

The code in the next cell is used to drop "Not assigned" values from Borough column

In [5]:
na=df[df['Borough']=='Not assigned'].index
df.drop(na, inplace=True)
df.head(5)

  Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

After that, the value from Borough column is assigned for Neighbourhood 'Not assigned' cells (rows)

In [6]:
df['Neighbourhood'].loc[df['Neighbourhood']=='Not assigned']=df['Borough']
df.head(25)

   Postcode           Borough     Neighbourhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Queen's Park
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern
15      M3B        North York   Don Mills North
16      M4B         East York  Woodbine Gardens
17      M4B         East York     Parkview Hill
18      M5B  Downtown Toronto           Ryerson
19      M5B  Downtown Toronto   Garden District
20      M6B        North York         Glencairn
23      M9B         Etobicoke        Cloverdale
24      M9B         Etobicoke         Islington
25      M9B         Etobicoke      Martin Grove
26      M9B         Etobicoke  Princess Gardens
27      M9B         Etobicoke   West Deane Park
28      M1C       Scarborough    Highland Creek
29      M1C       Scarborough        Rouge Hill
30      M1C       Scarborough        Port Union
32      M3C        North York   Flemingdon Park

Finally, the code below groups neigbourhoods by postcode and separates names by commas.

In [7]:
df=df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: ','.join(x.astype(str))).reset_index()
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [8]:
df.to_csv('postal_codes.csv',header=1,index=True)

In [9]:
df.shape

(103, 3)